body {
    background-color: #3E84D6;
    font: sans-serif normal 15px;
    color: white;
}
.header__text {
    font-size: 1.2rem;
    text-align: center;
}
#numero input {
    width: 100px;
    margin-right: 55px;
    margin-top: 10px;
}
.section {
    width: 450px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 18px;
    color: black;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.363);
}
div {
    margin-bottom: 2rem;
}
form {
    text-align: center;
}
[type="button"] {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 135px;
}
footer {
    text-align: center;
    margin-top: 1.5rem;
    font-style: italic;
}